footer p{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: lightslategrey;
    height: 30px;
    padding: 20px;
}
footer{
    position: fixed;
    bottom: 0;
}

.naglowek{
    background-color: lightslategray;
    position: fixed;
    top: 0;
    width: 800px;
}

.naglowek *{
    display: inline;
    margin: 30px;
}

.naglowek nav{
 margin-right: auto;
}

.bottom{
    background-color: #3882F6;
    padding: 10px 24px;
    margin: 10px 100px;
    border-radius: 20px;
}

.main{
    
    display: inline-block;
}


#greetings{
    margin-right: 20px;
    margin-left: 20px;
    max-width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
body{
    width: 800px;
    margin: 80px auto;
}
.images{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.koniecstrony {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 50px;
   margin-bottom: 150px;
   background-color: lightslategray;
}
.images div{
   /* flex: 1;*/
}

/*{
    border: 2px solid green;
}